<nav class="navbar navbar-expand navbar-dark navbar-default navbar-fixed">
    <div class="container">    
        <a class="navbar-brand" href="https://www.wrld3d.com"><img src="https://d33wubrfki0l68.cloudfront.net/6f8d38a78de6fa1c4ac71abb43cb60bf92b5df03/595ca/img/wrld_logo_white.svg"></a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ">
          <div class="navbar-nav navbar-right">
              <a class="nav-item nav-link" href="/">About</a>
              <a class="nav-item nav-link" href="/map">Demo</a>
            <a class="nav-item nav-link" href="https://github.com/gavinroderick/Team10IndustrialTeamProject">Github</a>
          </div>
        </div>
    </div>
</nav>