<head>
    <% include ../partials/header.ejs %>
</head>
<style>
    h1 {
        font-size: 10em;
        margin-bottom: 0;
    }
</style>
<% include ../partials/nav.ejs %>
<div style="text-align: center;">
    <div style="display: inline-block; text-align: left;">
        <h1>404 <span style="font-size: 0.25em;">Page not found ¯\_(ツ)_/¯</span></h1>
        <h3>We may have changed the URL, or you might have typed it wrong. Who knows these days?
            <br>Easiest option is to go back a page and check</h3>
    </div>
</div>

