<head>
    <% include ../partials/header.ejs %>
</head>
<body>

    <% include ../partials/nav.ejs %>
    <div class="container-fluid">
        <div class="card">    
            <div class="card-title">
                
            </div>
            <div class="card-body">
                <h3 class="display-4">SHPR3d.js</h3>
                <blockquote>SHPR3d is a tool created to assist people who struggle shopping in busy, noisy or bright environments.</blockquote>
                <h4>Instructions</h4>
                <p>Use the sliders on the left hand side to indicate how comforable you are with each of the three factors.</p>
                    <ul>
                        <li>Use the presets to select generic values. </li>
                        <li>Adjust the sliders for more precise measurements</li>
                        <li>Uncheck any options that you don't wish to take into account.  </li>
                    </ul>
                    <a href="https://github.com/gavinroderick/Team10IndustrialTeamProject">Check out our github for more information on how this tool was built & the source code.</a>
                
            </div>
        </div>
    </div>
</body>