<head>
    <% include ../partials/header.ejs %>
</head>
<h1>
    Maps
</h1>

<% include ../partials/settings.ejs %>
<div class="dummyMap">
    <h1>===========================-Map-===========================
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        ==================================================
    
    
    
    </h1></div>